@import '@/assets/scss/variables.scss';

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 0;

  &__overlay {
    display: none;
  }

  &__burger {
    position: relative;
    width: 40px;
    height: 24px;

    &-item,
    &-item::before,
    &-item::after {
      position: absolute;
      width: 40px;
      height: 4px;
      transition-timing-function: ease;
      transition-duration: 0.15s;
      transition-property: transform;
      border-radius: 4px;
      background-color: #fff;
    }
    &-item {
      display: block;
      margin-top: -2px;
      top: auto;
      bottom: 0;
      transition-delay: 0.13s;
      transition-timing-function: cubic-bezier(0.55, 0.055, 0.675, 0.19);
      transition-duration: 0.13s;

      &::before,
      &::after {
        display: block;
        content: '';
      }
      &::before {
        top: -10px;
        transition: top 0.12s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
          transform 0.13s cubic-bezier(0.55, 0.055, 0.675, 0.19);
      }
      &::after {
        top: -20px;
        transition: top 0.2s cubic-bezier(0.33333, 0.66667, 0.66667, 1) 0.2s,
          opacity 0.1s linear;
      }
    }
    &.active,
    &:hover {
      opacity: 0.7;
    }
    &.active {
      & .nav__burger-item {
        transition-delay: 0.22s;
        transition-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
        transform: translate3d(0, -10px, 0) rotate(-45deg);

        &,
        &::before,
        &::after {
          background-color: #fff;
        }

        &::before {
          top: 0;
          transition: top 0.1s cubic-bezier(0.33333, 0, 0.66667, 0.33333) 0.16s,
            transform 0.13s cubic-bezier(0.215, 0.61, 0.355, 1) 0.25s;
          transform: rotate(-90deg);
        }
        &::after {
          top: 0;
          transition: top 0.2s cubic-bezier(0.33333, 0, 0.66667, 0.33333),
            opacity 0.1s linear 0.22s;
          opacity: 0;
        }
      }
      & ~ .nav__overlay {
        display: block;
        background: rgba(0, 0, 0, 0.27);
        position: fixed;
        top: 84px;
        bottom: 0;
        right: 0;
        left: 0;
        z-index: 20;
      }
    }
  }
  &__list {
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background: $primary-bg;
    transition: all 0.5s ease;
    padding: 15px 40px;

    position: absolute;
    top: 84px;
    bottom: 0;
    right: -320px;
    z-index: 1000;

    &.active {
      right: 0;
    }

    &-item {
      & a {
        display: flex;
        align-items: center;
      }
      & svg {
        width: 29px;
        height: 29px;
        margin-right: 40px;
      }
      &:not(:last-child) {
        margin-bottom: 50px;
      }
      &.active a {
        transition: all 0.3s ease;

        & svg path {
          fill: $primary-yellow;
          fill-opacity: 1;
        }
        & svg g {
          opacity: 1;
        }
      }
    }
  }
}
@media (min-width: 1024px) {
  .nav {
    display: block;
    width: 72px;
    padding: 25px 0 0 20px;

    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 100;

    &__logo {
      margin: 0 auto 40px;
    }

    &__burger {
      display: none;
    }
    &__overlay {
      display: none !important;
    }

    &__list {
      position: static;
      width: auto;
      height: auto;
      background: $secondary-bg;
      border-radius: 32px;
      transition: none;
      padding: 25px 15px;

      &-item {
        &:not(:last-child) {
          margin-bottom: 30px;
        }
        & span {
          display: none;
        }
        & a {
          display: block;
          transition: all 0.3s ease;

          &:hover {
            & svg path {
              // filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));

              fill: $primary-yellow;
              fill-opacity: 1;
            }
            & svg g {
              opacity: 1;
            }
          }
        }
        & svg {
          width: 22px;
          height: 22px;
          margin: 0;
        }
      }
    }
  }
}
@media (min-width: 1220px) {
  .nav {
    width: 80px;

    &__list {
      &-item {
        & svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
}
