@import '@/assets/scss/normalize.scss';
@import '@/assets/scss/variables.scss';

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  line-height: 1.2;
  color: #fff;
  background: $primary-bg;
}
.container {
  max-width: 1280px;
  padding: 0 15px;
  margin: 0 auto;
}
.main {
  position: relative;
  height: 100vh;
  overflow-x: hidden;

  padding-bottom: 150px;

  &.active {
    overflow: hidden;
  }
  &__inner {
    padding-bottom: 50px;
  }
}
.title {
  font-size: 20px;
  font-weight: 700;
}
.charts .swiper-slide {
  max-width: 320px;
}

.releases .swiper-slide {
  max-width: 153px;
}
@media (min-width: 1024px) {
  .container {
    padding: 0 25px;
  }
  .main {
    padding: 25px 0 0 72px;

    &__inner {
      display: flex;
      justify-content: space-between;
    }
  }
}
